<h1><b>Question 1</b></h1>

In [4]:
a=1+2j
b=3+6j
print('Addition:',a+b)
print('subtraction',a-b)
print('multiplication',a*b)
print('division',a/b)
print('modulo is not possible')

Addition: (4+8j)
subtraction (-2-4j)
multiplication (-9+12j)
division (0.3333333333333333+0j)
modulo is not possible

<h1><b>Question 2</b></h1>

##1.range() is a built in function in python which generates a sequence of numbers.
##2.If a single number is given as parameter it generates sequence of numbers satrting from zero until the given number excluding the given number
##3.If two numbers are given as parameters it is gonna generate numbers starting from the first number given until the second number excluding the second number
##4. If three parameter4s are given it is gonna generate numbers between the first two parameters excluding the second parameter by incrementing by third parameter

<h1><b>Question 3</b></h1>

In [6]:
a=23
b=45
if a-b>25:
  print(a*b)
else:
  if(b==0):
    print('division by is not possible')
  else:
    print(a/b)

0.5111111111111111

<h1><b>Question 4</b></h1>

In [8]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
  if i%2 ==0:
    print(i*i-2)

2
14
34
62
98

<h1><b>Question 5</b></h1>

In [9]:
li=[6,5,7,98,12,56,77,93,13,15]
for i in li:
  if i%2==0 and i>7:
    print(i)

98
12
56