In [3]:
def sqr(a):
    return a**a
x = map(sqr,[1,2,3,4,5])
print(x)
print(type(x))
print(list(x))

<map object at 0x7ff49b207e10>
<class 'map'>
[1, 4, 27, 256, 3125]

In [5]:
def sqr(a,b):
    return a-b
# your code goes here3
x = map(sqr, [1,2,3,4], [2,2,2,2] )
print(list(x))

[-1, 0, 1, 2]

In [7]:
def sqr(a,b):
    return a**-b
# your code goes here3
print(list(map(sqr, [1,2,3,4], [2,2,2,2] )))

[1.0, 0.25, 0.1111111111111111, 0.0625]

In [9]:
def sqr(a,b):
    return a*b
# your code goes here3
print(list(map(sqr, [ i for i in range(5)], (2,2,2,2,2) )))

[0, 2, 4, 6, 8]

In [11]:
x = lambda a: a**5
x(8)

32768

In [13]:
def abc(x):
    return lambda y: x+y
t = abc(4)
print(t)
print(t(5))

<function abc.<locals>.<lambda> at 0x7ff49a9bd378>
9

In [15]:
z = lambda x,y,z: (x+y)**2/z
print(z(2,3,8))

3.125

In [18]:
l = [1,2,3,4]
x = map(lambda x: x+8,l)
print(list(x))

[9, 10, 11, 12]

In [20]:
def sqr(a):
    if a%2==0:
        return a
# your code goes here1.2
x = filter( sqr, [1,2,3,4,5] )
print(x)
print(type(x))
print(list(x))

<filter object at 0x7ff49a8d8b70>
<class 'filter'>
[2, 4]

In [23]:
from functools import reduce # its required here
def sqr(a,b):
    return a*b
# your code goes here1+5
x = reduce(sqr, [1,2,3,4])
print(x)

24

In [25]:
reduce( lambda x,y: x-y , [0,1,2,3,4] )

-10

In [29]:
x = map(lambda x: x+x,  filter(lambda x: x>=3., [1,2,3,4]))
print(x)
print(list(x))

<map object at 0x7ff49a8e3208>
[6, 8]

In [30]:
x = filter(lambda x: x>4,  map(lambda x: x+3., [1,2,3,4]))
# try this
# x = filter(lambda x: x>=3,  map(lambda x: x+3., [1,2,3,4]))
print(x)
print(list(x))
# print(tuple(x))

<filter object at 0x7ff49a8e32e8>
[5.0, 6.0, 7.0]

In [31]:
x = reduce(lambda x,y: x+y,  map(lambda x:x+x, filter(lambda x: x>=3, (1,2,3,4))))
print(x)

14